<% title "Radios" %>

<table border=1 >
  <tr bgcolor="#cccccc">
    <th>Title</th>
    <th>Location</th>
    <th>Mac</th>
    <th>Sn</th>
    <th>Ip</th>
    <th>Devtype</th>
    <th>Hwver</th>
    <th>Swver</th>
    <th>Contact</th>
    <th>Last Update</th>
    <th>Installed</th>
    <th>Actions</th>
  </tr>
  <% if @wifi != nil  then%>
  <tr>
      <td><%= "Connected to"+@wifi.title %></td>
      <td><%= @wifi.location_id %></td>
      <td><%= @wifi.mac %></td>
      <td><%= @wifi.sn %></td>
      <td><%= @wifi.ip %></td>
      <td><%= @wifi.devtype %></td>
      <td><%= @wifi.hwver %></td>
      <td><%= @wifi.swver %></td>
      <td><%= @wifi.contact %></td>
      <td><%= @wifi.last_update %></td>
      <td><%= link_to "Show full", @wifi , class: "btn btn-small btn-secondary" %> |
          <%= link_to "Edit", edit_radio_path(@wifi) , class: "btn btn-small btn-secondary" %> |
      </tr>
  <% end %>
  <% if  @radios != nil then%>
    <% for radio in @radios %>
      <tr>
        <td><%= radio.title %></td>
        <td><%= radio.location_id %></td>
        <td><%= radio.mac %></td>
        <td><%= radio.sn %></td>
        <td><%= radio.ip %></td>
        <td><%= radio.devtype %></td>
        <td><%= radio.hwver %></td>
        <td><%= radio.swver %></td>
        <td><%= radio.contact %></td>
        <td><%= radio.last_update %></td>
        <td><%= link_to "Show", radio , class: "btn btn-small btn-secondary" %> |
            <%= link_to "Edit", edit_radio_path(radio) , class: "btn btn-small btn-secondary" %> |
            <%= link_to "Destroy", radio, :confirm => 'Are you sure?', :method => :delete , class: "btn btn-small btn-secondary"%></td>
      </tr>
    <% end %>  
  <% end %>
</table>

<p><%= link_to "New Radio", new_radio_path %></p>
